<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxO9hoCQTtchx2auBHTWzFFieG896gmd0</string>
	<key>GCM_SENDER_ID</key>
	<string>710630722653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adoptaYSonrie</string>
	<key>PROJECT_ID</key>
	<string>adopta-y-sonrie</string>
	<key>STORAGE_BUCKET</key>
	<string>adopta-y-sonrie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710630722653:ios:c3d1312a782ec1fd7411b4</string>
</dict>
</plist>